@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../../public/fonts/HW\ Topol\ Trial\ Regular.otf')
    format('opentype');
  font-display: swap; /* use "swap" to show the font as soon as possible */
}
