@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CustomFont';
  src: url('../../public/fonts/proximanova.otf') format('opentype');
  font-display: swap; /* use "swap" to show the font as soon as possible */
}
body {
  font-family: 'CustomFont', sans-serif;
}

p {
  font-size: medium;
  color: white;
}

h1 {
  font-size: x-large;
  color: white;
}
h2 {
  font-size: larger;
  color: white;
}
h3 {
  font-size: large;
  color: white;
}

h5 {
  font-size: medium;
  color: white;
}

.buttonShadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.akaiShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tileShadow {
  box-shadow: rgba(91, 87, 87, 0.25) 0px 6px 12px -2px,
    rgba(74, 74, 74, 0.3) 0px 3px 7px -3px;
}
